/*
    Color palette: 
        #fffbdf ; #c6ffc1 ; #34656d : #334443
        #98ddca ; #d5ecc2 ; #ffd3b4 ; #ffaaa7

    Fonts: 
        headings: font-family: 'Quicksand', sans-serif;
        Paragraphs: font-family: 'Libre Franklin', sans-serif;
        Comments and others: font-family: 'Comfortaa', cursive;
        Big Heading Title: font-family: 'Josefin Sans', sans-serif;

*/

/*GENERAL*/
body{
    font-family: 'Libre Franklin', sans-serif;
    text-align: center;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Quicksand', sans-serif;
}
p{
    color: #334443;
}
/*CONTAINERS*/
.container-fluid{
    padding: 7% 12%;
}
/*SECTIONS*/
.colored-section{
    background-color: #c6ffc1;
    color: #000;
}
.blur-white-section{
    background-color: #fffbdf;
}

/*NAVIGATION BAR*/
.navbar{
    padding: 0 0 4.5rem;
}
.logo{
    border-radius: 100%;
}
.nav-item{
    padding: 0 18px;
}
.nav-link{
    font-size: 1.2rem;
    font-family: 'Quicksand', sans-serif;
}

/*TITLE*/
#title{
    background-color: #c6ffc1;
    color: #334443;
    text-align: left;
}
#title .container-fluid{
    padding: 3%, 15%, 7%;
}
.icons-mail{
    position: absolute;
    left: 90px;
    top: 19.45rem;
}
.icons-phone{
    position: absolute;
    left: 99px;
    bottom: 4px;
}
.title-paragraph-email{
    text-align: left;
    padding-left: 9rem;
    line-height: 0.7;
}
.title-paragraph-phone{
    text-align: left;
    padding-top: 4rem;
    padding-left: 9rem;
}
/*TITLE IMAGE*/
/*
    TODO: ICONS NEED TO BE RESPONSIVE, try putting in div
*/
.personal-photo{
    width: 60%;
    border-radius: 30%;
    padding-bottom: 2rem;
    position: relative;
    left: 80px;
}

/*TITLE HEADINGS*/
.title-heading{
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    font-size: 4rem;
}
.paagraph-container{
    padding-top: 3rem;
}
.title-profile-desc{
    text-align: center;
    font-size: 20px;
}

/*ABOUT ME SECTION*/
.about-me-heading, .resume-heading{
    text-align: left;
    text-decoration: underline;
}
.about-me-image{
    width: 100%;
    position: relative;
    top: 7rem;
}
.about-me-parag{
    font-size: 1.1rem;
}

/*RESUME SECTION*/
.resume-section{
    background-color: #ffd3b4;
}
.resume-experience-desc{
    
    border: 1px solid #334443;
}